<ion-view view-title="בלוג מידע">
  <ion-content>


    <article>
        <div  ng-class="$index == 0 ? 'story1' : 'story'"  ng-repeat="row in ArticleCategories | filter: byBlogLogin():true"  align="center">

			<a ui-sref="app.categoryposts({CategoryId: $index})">
				<div><img alt="" src="{{phpHost}}/{{row.CatImage}}"  width="100%" height="105px;"/></div>
				<div>{{row.CatName}}</div>
			</a>
        </div>
        <div class="story" ></div>
    </article>
  
  </ion-content>
</ion-view>
