<ion-view view-title="בלוג מידע">


  <ion-content >

	<div>
       <div class="storyPic"><img alt="" src="{{phpHost}}/{{ArticleData.ArticleImage}}" imageonload  width="100%"/></div>
       <div class="articleTitle" style="direction:rtl;">{{ArticleData.ArticleTitle}}</div>
       <div class="txt" style="direction:rtl;" imageonload ng-bind-html="ArticleData.ArticleDesc | toTrusted" ></div>
    </div>
  
  </ion-content>
</ion-view>
