<ion-view view-title="בלוג מידע">
  <ion-content >

	
    <div>
       <div class="storyPic">
	   <!--
	   <img src="{{catagoryimage}}" width="100%">
	   -->
	   </div>
       <div class="articles"  ng-repeat="row in CategoryPosts | filter:postInput " ng-if="row.showarticle == 0" style="margin-top:0px;">
	   			<div ui-sref="app.article({CategoryId: CategoryIndex,IndexId: $index})">
				
            <div class="blueArticle articleLine" ng-style="$index%2==0 ? {'background-color':colorArray[0]}:{'background-color':colorArray[1]}"  style="padding-bottom:100px;"  style="direction:rtl;">
             	<div class="imageDetails" >          
	                <img ng-if="row.ArticleImage2" ng-src="{{phpHost}}/{{row.ArticleImage2}}"  style="width:100%" />
	                <img ng-if="!row.ArticleImage2" ng-src="img/logo.png"  style="width:100%" />
                </div>
				
                <div class="articleDetails" style="direction:rtl;">{{row.ArticleTitle|cutString_TitlePage:true:30}}
				<p class="DrName" style="direction:rtl; " ng-bind-html="row.ArticleDesc | cutString_ListPage:true:50"></p>
					<p class="date" style="margin-top:-10px;"  >{{row.PublishDate | formatDate}}</p> 
               </div>
            </div>   
			 </div>
       </div>
	   <div class="articles">
	   </div>
    </div>
  
  </ion-content>
</ion-view>
