<ion-view view-title="צור קשר">
  <ion-content>

  <div align="center" >
  
		 <div  style="margin-bottom:30px;">
				<div style="direction:rtl;">

					 <div >
						 <label class="item item-input  " >
							<input type="text"   placeholder="שם מלא" class="ion-input-select--large " ng-model="contactfields.name">
						 </label>
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>
					 <div >
						 <label class="item item-input  " >
							<input type="tel"   placeholder="טלפון" class="ion-input-select--large " ng-model="contactfields.phone">
						 </label>
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>
					 <div >
						 <label class="item item-input  " >
							<input type="email"   placeholder="אימייל" class="ion-input-select--large " ng-model="contactfields.mail">
						 </label>
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>
					 <div >
						 <label class="item item-input ">
							<input type="text"   placeholder="תוכן הפנייה" class="ion-input-select--large " ng-model="contactfields.desc">
						 </label>	
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>
										 
				</div>
				
				
				<div style="margin-top:10px; margin-bottom:30px;" ng-click="sendContact()">
					<img src="img/sendbt.png"  style="width:100%;" />
				</div>	
				
				
		 </div>
  </div>
  
  </ion-content>
</ion-view>
