<ion-view view-title="אפליקציית עובדים">
  <ion-content>


  <div align="center" >
  
		 <div  style="margin-bottom:30px;">
				<div style="direction:rtl;">

					 <div >
						 <label class="item item-input  " >
							<input type="text"   placeholder="הכנס מייל" class="ion-input-select--large " ng-model="loginfields.mail">
						 </label>
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>
					 <div >
						 <label class="item item-input  " >
							<input type="password"   placeholder="הכנס סיסמה" class="ion-input-select--large " ng-model="loginfields.password">
						 </label>
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>				 
				</div>
				

				<div style="margin-top:10px; margin-bottom:30px;" ng-click="LoginEmployee()">
					<img src="img/sendbt.png"  style="width:100%;" />
				</div>	
				
				
		 </div>
  </div>
  
  </ion-content>
</ion-view>
