<ion-view view-title="אפליקציית עובדים">
  <ion-content>

	<button class="button button-full button-positive" ui-sref="app.trading()">
	  לוח מודעות
	</button>
	
	<button class="button button-full button-positive" ui-sref="app.phonebook()">
	  ספר טלפונים
	</button>

	<button class="button button-full button-positive" ui-sref="app.articlecategories()">
	  בלוג מידע
	</button>

	<button class="button button-full button-positive" ui-sref="app.jciapp()">
	  JCI
	</button>

	<button class="button button-full button-positive" ui-sref="app.reportincident()">
	  דווח על מיפגע
	</button>

	<button class="button button-full button-positive" ng-click="openSite('http://google.co.il')">
	  לינק
	</button>

	<button class="button button-full button-positive" ng-click="openSite('http://google.co.il')">
	  לינק
	</button>

	<button class="button button-full button-positive" ng-click="openSite('http://google.co.il')">
	  לינק
	</button>

	<button class="button button-full button-positive" ng-click="openSite('http://google.co.il')">
	  לינק
	</button>
	
  </ion-content>
</ion-view>
