<ion-view view-title="תנו לנו פידבק">
  <ion-content>

   <article style="overflow:hidden">
   <div class="questions" ng-repeat="question in Questions">
	   <div class="question" >
			<span>{{$index+1}}. {{question.title}}</span><br />
				<div class="stars">
					<div class="star"><img ng-click=starClick(1,{{$index}}) ng-src="{{RateArray[$index].rate1}}"  width="100%" alt="" /></div>
					<div class="star"><img ng-click=starClick(2,{{$index}}) ng-src="{{RateArray[$index].rate2}}"  width="100%" alt="" /></div>
					<div class="star"><img ng-click=starClick(3,{{$index}}) ng-src="{{RateArray[$index].rate3}}"  width="100%" alt="" /></div>
					<div class="star"><img ng-click=starClick(4,{{$index}}) ng-src="{{RateArray[$index].rate4}}"  width="100%" alt="" /></div>
					<div class="star"><img ng-click=starClick(5,{{$index}}) ng-src="{{RateArray[$index].rate5}}"  width="100%" alt="" /></div>
				</div>              
	   </div>
	   <div class="starLine"></div>
	</div>
	 
	<div class="openQuestion">
		<textarea  id="openQuestion" ng-model="openQuestion.openquestion" placeholder="ספר לנו באופן חופשי..."></textarea>
		<input id="send" ng-click="sendFeedback()" type="button" value="שלח" />           
	</div>
</article>
  
  </ion-content>
</ion-view>
