<ion-view view-title="" hide-back-button="true" hide-nav-bar="true">
  <ion-content style="background-color:#f3a21d;">
	<div class="MainHeader" align="center">
		
    	<div class="MainHeaderRight" ng-click="toggleRightSideMenu()">
        	<div class="MainHeaderRightDiv">
				
        		<img src="img/menu.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderCenter">
        	<div class="MainHeaderCenterDiv">
        		<img src="img/logo.png" style="width:100%" />
            </div>
        </div>
    </div>
   
    <div class="subHeader" align="center">
    	<div class="subHeaderDiv">
        	<img src="img/h1.png" style="width:100%" />
        </div>
    </div>

	<!--
	<div align="center" style="direction:rtl; font-size:25px; color:white; margin-bottom:10px;">
		
		<timer end-time="countdownseconds">
		{{seconds}}<span style="font-size:14px;"> שניות</span>
		&nbsp;
		{{minutes}}<span style="font-size:14px;"> דקות </span>
		&nbsp; {{hours}}
		<span style="font-size:14px;">שעות</span>
		&nbsp;  {{days}}
		<span style="font-size:14px;"> ימים</span>
		</timer>		
	</div>
	-->

	
	<div align="center" class="iconCube"  ng-click="navigatePage($index)" ng-repeat="item in mainCategories" style="background-color:{{item.color}}"  align="center">
    	<div class="iconCubeDiv" style="color:green;">
			<img src="{{hostUrl}}/{{item.category_image}}" style="width:100%;"> 
        </div>
        <div class="iconCubeText">{{item.title}}</div>
	</div>

	<div align="center" class="iconCube" ng-click="navigatePhone()"  ng-if="mainCategories[0]" style="background-color:#f394b9ef9c2c"  align="center">
    	<div class="iconCubeDiv">
			<img src="img/phonebook.png" style="width:100%;"> 
        </div>
        <div class="iconCubeText">טלפונים חיוניים</div>
	</div>
	
	<div align="center" class="iconCube" ng-click="navigateMessages()"   ng-if="mainCategories[0]" style="background-color:#096"  align="center">
    	<div class="iconCubeDiv">
			<img src="img/messages.png" style="width:100%;"> 
        </div>
        <div class="iconCubeText">הודעות הנחיות ועדכונים</div>
	</div>
	
  </ion-content>
</ion-view>
