<ion-view view-title="עמוד ראשי">
  <ion-content>

	<button class="button button-full button-positive" ui-sref="app.about()">
	  קצת עלינו
	</button>

	<button class="button button-full button-positive" ui-sref="app.phonebook()">
	  ספר טלפונים
	</button>

	<button class="button button-full button-positive" ui-sref="app.articlecategories()">
	  בלוג מידע
	</button>

	<button class="button button-full button-positive" ui-sref="app.videos()">
	  גלריית וידאו
	</button>


	<button class="button button-full button-positive" ui-sref="app.feedback()">
	  תנו לנו פידבק
	</button>


	<button class="button button-full button-positive" ui-sref="app.useful()">
	  מידע שימושי
	</button>

	<button class="button button-full button-positive" ui-sref="app.how_arrive()">
	  איך להגיע
	</button>
	

	<button class="button button-full button-positive" ui-sref="app.navigation()">
	  ניווט
	</button>	

	<button class="button button-full button-positive" ng-click="EmployeeLogin()">
	  כניסת עובדים
	</button>

	<button class="button button-full button-positive" ui-sref="app.contact()">
	  צור קשר
	</button>  
  
  </ion-content>
</ion-view>
