<ion-view view-title="לוח מודעות">
  <ion-content>

  <div align="center" >
  
		 <div  style="margin-bottom:30px;">
				<div style="direction:rtl;">

					 <div >
						 <label class="item item-input  " >
							<input type="text"   placeholder="שם המוצר" class="ion-input-select--large " ng-model="tradingfields.title">
						 </label>
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>
					 <div >
						 <label class="item item-input  " >
							<input type="tel"   placeholder="מחיר" class="ion-input-select--large " ng-model="tradingfields.price">
						 </label>
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>
					 <div >
						 <label class="item item-input  " >
							<input type="tel"   placeholder="טלפון ליצירת קשר" class="ion-input-select--large " ng-model="tradingfields.phone">
						 </label>
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>
					 <div >
						 <label class="item item-input ">
							<input type="text"   placeholder="תיאור המוצר" class="ion-input-select--large " ng-model="tradingfields.desc">
						 </label>	
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>
										 
				</div>
				
				<div ng-if="ItemId == '-1'" ng-click="CameraOptions()">
					<img src="{{defaultImage}}" style="width:100%;">
				</div>

				<div ng-if="tradingfields.image" >
					<img src="{{phpHost}}/{{tradingfields.image}}" style="width:100%;">
				</div>
				
				
				<div style="margin-top:10px; margin-bottom:30px;" ng-click="sendTrading()">
					<img src="img/sendbt.png"  style="width:100%;" />
				</div>	
				
				
		 </div>
  </div>
  
  </ion-content>
</ion-view>
