<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">תפריט</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item style="text-align:right; direction:rtl;" menu-close  ng-click="navigateHome()" >
          ראשי
        </ion-item>
		<!--
        <ion-item style="text-align:right; direction:rtl;" ng-repeat="item in menuCategories" menu-close ng-click="navigatePage($index)">
          {{item.title}}
        </ion-item>

        <ion-item style="text-align:right; direction:rtl;" menu-close ng-click="navigatePhone()">
          טלפונים חיוניים
        </ion-item>		
		-->
        <ion-item style="text-align:right; direction:rtl;" menu-close  ng-click="logOut()" ng-if="userLoggedIn" >
          התנתקות
        </ion-item>		
		

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
