 <ion-view title="ניווט" >

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content >
  
			<!--
			<div class="item" style="text-align:center">
				<div align="center" style="direction:rtl; text-align:right; padding-left:6px; width:120%; margin-left:-10%; color:black;">
                	<ion-scroll zooming="true"  min-zoom="1" direction="xy" style="width: 100%; height: 100%">
						<img src="img/maps/map{{mapimage}}.svg" align="center" style=" width:100%;">
                    </ion-scroll>
				</div>
			</div>
			-->
     
		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px; color:blue;" ng-click="buildingInfo(mapimage)"><span style="color:blue; font-weight:bold">שם בניין : </span> {{buildingname}} </div>
	</div>
	
	

		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px; color:black;"><span style="color:black; font-weight:bold">מחלקה : </span> {{devision}} </div>
	</div>
	
	
		<div class="item" style="text-align:right"> 
		<div  style="direction:rtl; text-align:right; padding-left:6px; color:black;"><span style="color:black; font-weight:bold">קומה : </span> {{floor}} </div>
	</div>
	
	
		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px; color:black;"><span style="color:black; font-weight:bold">אזור : </span> {{area}}</div>
	</div>
		<!--
		<div class="item" style="text-align:right" ng-click="showSite(mapimage)">
			<div  style="direction:rtl; text-align:right; padding-left:6px; color:black;"><span style="color:blue; font-weight:bold">לחצ/י להסבר הגעה מפורט</span></div>
		</div>
		-->
		
	<!--
		<div class="item" style="text-align:right" ng-click="showSite(mapimage)">
			<div  style="direction:rtl; text-align:right; padding-left:6px; color:black;"><span style="color:black; font-weight:bold">איך להגיע : </span> <span style="width:5em; word-wrap: break-word; white-space: pre;" ng-bind-html="how_to_arrive | nl2p"></span></div>
		</div>
	-->
		
	
   
 </ion-content>
</ion-view>