<ion-view view-title="ספר טלפונים">


  <ion-content class="has-subheader">

    <article style="overflow:hidden">
       
       
       <div ng-repeat="row in PhonebookContacts | filter: byContactLogin():true | filter:contactInput">
       		<div  class="articlesContacts"  ng-style="$index==0 ? {'border-top':'none'}:{'border-top':'solid #2f2f2f'}">
               <div class="contactMainDiv">
                    <div class="coBlue"  ng-style="$index%2==0 ? {'background-color':'#377fba'}:{'background-color':'#00ac36'}">
                    </div>
                    <div class="coInfo">
                        <div style="font-size:17px; font-weight:bold">{{row.title}}</div>
                        <div style="font-size:15px; ">{{row.subtitle}}</div>
                    </div>
                    <div class="coIcon" align="center">
					<div ng-click="DialPhone(row.phone)">
                        <div style="width:70%; padding-top:10px;">
                             <img src="img/phone.png" style="width:100%" />
                        </div>
						</div>
                    </div>
                </div>
            </div>
       </div>
       
	
  
    </article>
  
  </ion-content>
</ion-view>
