<ion-view view-title="דווח על מיפגע">
  <ion-content>

  <div align="center" >
  
		 <div  style="margin-bottom:30px;">
				<div style="direction:rtl;">

					 <div >
						 <label class="item item-input  " >
							<input type="text"   placeholder="תיאור האירוע" class="ion-input-select--large " ng-model="reportfields.title">
						 </label>
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>
					 <div >
						 <label class="item item-input  " >
							<input type="text"   placeholder="מקום האירוע" class="ion-input-select--large " ng-model="reportfields.place">
						 </label>
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>

					 <div >
						 <label class="item item-input ">
							<input type="text"   placeholder="הוסף פרטים" class="ion-input-select--large " ng-model="reportfields.desc">
						 </label>	
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
					 </div>
										 
				</div>
				
				<div ng-click="CameraOptions()">
					<img src="{{defaultImage}}" style="width:100%;">
				</div>
				
				
				<div style="margin-top:10px; margin-bottom:30px;" ng-click="sendReport()">
					<img src="img/sendbt.png"  style="width:100%;" />
				</div>	
				
				
		 </div>
  </div>
  
  </ion-content>
</ion-view>
