<ion-view view-title="לוח מודעות" cache-view="false">
  <ion-content>

	<button class="button button-full button-positive" ui-sref="app.managetrading({ItemId: '-1'})">
	  הוספת מודעה
	</button>
	
	
    <article>
        <div  class="story_ten" ng-repeat="row in TradingArray | filter:tradingsearch" align="center">
		
			<a href="#" ui-sref="app.managetrading({ItemId: $index})">
            	
				<div>
					<img ng-if="row.image" alt="" src="{{phpHost}}/{{row.image}}"  width="100%" height="105px;"/>
				</div>
				
           		<div>
				שם מוצר: {{row.prd_name}}<br />
				מחיר: {{row.price}}
                </div>
			</a>
        </div>
        <div class="story" ></div>
    </article>

	
  
  </ion-content>
</ion-view>
