<ion-view view-title="עמוד וידאו">
  <ion-content>

	<div align="center">

		<div class="card" ng-repeat="item in Videos">
		  <div class="item item-divider">
			{{item.VideoTitle}}
		  </div>
		  
		  <div class="item item-text-wrap">
			<iframe width="100%" height="215" ng-src="{{item.VideoLink}}" frameborder="0" allowfullscreen></iframe>	   
		  </div>
		</div>
	</div>
  
  </ion-content>
</ion-view>
