    #article
    {
        width:100%;
        float:right;  
        background-color:#e8e8e8;      
    }


	.articlesContacts
	{
		width:100%;
		float:right;
		border-top: solid #2f2f2f;
	}
	
 .contactMainDiv
 {
	 width:100%;
	 overflow:hidden;
 }
 
 .coBlue
 {
	 float:right; 
	 width:4%;
	 background-color:#069;
	 height:74px;
	 margin-top:0px;
 }
 
 .coInfo
 {
	 float:right; 
	 width:75%;
	 text-align:right;
	 padding:10px;
 }	
 
 .coIcon
 {
	float:left;
	width:17%;
 }
 
 
     /*FEEDBACK PAGE*/
     .questions
    {         
        float:right;
        padding-top:6%;   
		direction:rtl; 
		text-align:right;     
     }
    .question
    {
        float:right;
        padding:1% 5% 0% 5%;
        width:90%;
    }
    .question span
    {
        font-size:18px;
        font-weight:bold;        
    }
    .stars
    {
         padding-right:8%;
    }
    .star
    {
        float:right;
         width:14%;
         padding:2% 0 1% 2%;
    }
    .starLine
    {
        border-top: dotted #3282c7;
        float:right;
        margin:10px 21px 10px 0px;
        width:84%;
    }
    .openQuestion
    {
        float:left;
        padding:6% 2% 0% 2%;
		margin-right:1%;
        width:100%;
		direction:rtl;   
    }
    #openQuestion
    {
        width:90%;
        height:130px;
        border: solid #00ac36;
        color:#4c4c4c;
        padding-right:10px;
		margin:10px 11px 10px 0px;
        padding-top:6px;
        font-size:15px;
        text-align:right;
        font-family:Arial;
    }
    #send
    {
        color:White;
        background-color:#00ac36;
        width:90%;
        padding:10px 0px 10px 0px;
        font-size:20px;
        margin:10px 11px 10px 0px;
		
        border:none;
        font-weight:bold;
    }

	/*FEEDBACK PAGE END*/
	
	
	
	/* ARTICLES CATEGORIES */
	
    .story
    {
        width:100%;
        float:right;
        background-image:url("../img/storyBg.jpg");
        background-repeat: repeat-x;      
        color:#00ac36;
        font-size:20px;
        font-weight:bold;
        border-top: solid #e8e8e8;
		height:105px;
		overflow-y: hidden;
    }
	
	
	
     .story div:nth-child(1)
    {
        float: right;
        width: 30%;  
        background-color:#00ac36; 
        padding-left:5%;
		height:105px;    
    }
    
     .story div:nth-child(2)
    {
        float: right;
		text-align:center;
        width:70%;
        padding:41px 10px;
		color:#00ac36;
		font-size:18px;
		height:105px;
    }
    
	
	 .story_ten
    {
        width:100%;
        float:right;
        background-image:url("../img/main/storyBg.jpg");
        background-repeat: repeat-x;      
        color:#00ac36;
        font-size:20px;
        font-weight:bold;
        border-top: solid #e8e8e8;
		height:105px;
		overflow-y: hidden;
    }
	
	
	
     .story_ten div:nth-child(1)
    {
        float: right;
        width: 30%;  
        background-color:#00ac36; 
        padding-left:5%;
		height:105px;    
    }
    
     .story_ten div:nth-child(2)
    {
        float: right;
		text-align:right;
        width:70%;
        padding:20px 10px;
		direction:rtl;
		color:#00ac36;
		font-size:18px;
		height:105px;
    }
	
	
    
	.story1
    {
        width:100%;
        float:right;
        background-repeat: repeat-x;      
        color:#00ac36;
        font-size:20px;
        font-weight:bold;
       
		height:105px;
		overflow-y: hidden;
    }
	
	 .story1 div:nth-child(1)
    {
        float: right;
        width: 30%;  
        background-color:#00ac36; 
        padding-left:5%;  
		height:105px;   
    }
    
     .story1 div:nth-child(2)
    {
        float: right;
		text-align:center;
        width:70%;
        padding:41px 10px;
		color:#00ac36;
		font-size:18px;
		height:105px;
    }

	/* END */
	
     .storyPic
     {
         float:right;
         width:100%;
         overflow:hidden;         
     }
	 .storyPic div
	 {
		 width:100%;
	 }
     .articles
     {
        width:100%;
        float:right;
        border-top: solid #2f2f2f;		
     }

     .blueArticle
     {
         background-color:#377fba;
         color:#377fba;         
     }
	 
     .articleLine
     {
        float:right;
        width:100%; 
        height: 66px;
		padding-top:-10px;
		background-color:red;
     }

     .articleDetails
     {
        float: right;
        background-color: White;
        text-align:right;
        width:74%;
		height:100px;
        padding:12px 10px 10px 0;
        font-weight:bold;
        font-family:Verdana, Geneva, sans-serif;
        font-size:14px;
     }

     .DrName
     {
         color:Black;
         font-size:12px;
		 background-color:white;
		 direction:rtl;
		 line-height:1.3;
		 width:100%;
     }	 
	 
	 .imageDetails
	 {
		margin-right:1%;
		float:right;
        width:25%;
	 }
	 
	 .imageDetails img
	 {
		height:100px; 
	 }	 
	 
    .articleTitle
    {
        padding:10px 14px 10px 10px;
        font-size:24px;
        float:right;
        color:#00ac36;            
    }
    .txt
    {
        padding:0px 14px 10px 20px;
        font-size:18px;
        float:right;  
		direction:rtl;		
    }	 
	
	.custom-popup.popup-container .popup {
	  width:90%;
	}	
	.popup-title {
		direction:rtl;
	}